* {
    font-family: 'Helvetica';
    font-size: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
} 

/* Navbar */
header {
    justify-content: center;
    background-color: #FFF;
    border-bottom: 1px solid #2a2a2a;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    left: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    max-width: 1400px;
    margin: 0 auto;
    top: 0px;
}

.nav-container img {
    max-height: 6em;
    padding: 0.2em;
}

nav {
    margin: 2em 2em;
    display: flex;
}

ul.section-redirect {
    margin-right: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #484848;
    text-transform: uppercase;
    font-size: 1.3rem;
    position: relative;
    font-family: 'Kalam';
}

nav a.active {
    font-weight: bold;
}

nav a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid #2a2a2a;
    bottom: 0px;
}

nav a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid #6a6a6a;
    bottom: 0px;
    transition: width .3s;
}   

nav a:hover:before {
    width: 35%;
}

main {
    width: 100%;
    margin:0;
    z-index: 10;
}

.about {
    margin: auto;
    margin-top: 7.5em;
    width: 80%;
    display: flex;
    justify-content: center;
}

.about h1 {
    display: box;
    margin-bottom: 0;
}

.about-col {
    width: 45%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-left {
    position: relative;
}

.about-left:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 40%;
    margin: 0 auto;
    right: 0;
    top: 30%;
    border-right: 1px dotted #6a6a6a;
}

h1 {
    font-size: 2.5rem;
    color: #2a2a2a;
    font-family: 'Kalam';
    display: inline-block;
}

h1.heading {
    border-bottom: 1px solid #2a2a2a;
}

p {
    font-size: 1.2rem;
}

.subhead {
    max-width: 60%;
    min-width: 250px;
    margin: 3em auto;
    margin-top: 1em;
}

.about-left img {
    height: 13em;
    margin-left: 1em;
    margin-bottom: 1em;
} 

.browse {
    display: flex;
}

.browse {
    font-size: 1.5rem;
    position: relative;
    margin: 1em auto;
    margin-top: 2.5em;
    display: block;
    padding: .5em 0;
    align-items: center; 
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
    background-color: #D0B172;
    border-radius: 50px;
    width: 30%;
    transition: background-color .3s;
}

span {
    font-family: 'Kalam';
}

/* .browse svg {
    width: 2em;
    margin: auto 0;
    transition: transform .3s;
    z-index: 1;
    margin-left: .5em;
}

.browse:hover svg {
    transform: translateX(10px);
} */

.browse:hover {
    background-color: #7E885F;
}

.widget-container {
    width: fit-content;
    margin: auto;
    z-index: 1;
}

.about-right h2 {
    color: #6a6a6a;
    font-weight: lighter;
    margin: auto;
    margin-top: 0;
    font-family: 'Kalam';
    font-size: 1.3rem;
}

.gallery {
    margin-top: 5em;
    gap: 2em;
    text-align: center;
    z-index: 10;
    align-items: center;
}

.heading h1 {
    font-size: 2.5rem;
    color: #2a2a2a;
    font-family: 'Kalam';
    display: inline-block;
    border-bottom: 1px solid #2a2a2a;
}

.container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
}

.samples {
    text-align: center;
}

.samples img {
    height: 20em;
    border-radius: 4px;
    margin: 0.5em 1em;
    transition: height .3s;
}

.samples img:hover {
    height: 21em;
    width: auto;
}

.space {
    height: 5em;
}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
}

footer ul {
    list-style: none;
}

footer a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 1.4rem;
    position: relative;
}

footer a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid #006;
    bottom: -2px;
    transition: width .3s;
}   

footer a:hover:before {
    width: 100%;
}

.author .fa-brands {
    color: #006;
}

/* 
Tablet breakpoint = 1400px
Phone breakpoint = 800px
*/

/*Tablet*/
@media (max-width: 1300px) {
    header {
        border-bottom: 0px solid;
        z-index: -3512351;
    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        margin-top: 0;
        gap: 0;
    }

    .nav-container img {
        max-height: 6em;
        margin: 0 auto;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        gap: 0;
        margin: 0 auto;
        width: fit-content;
        justify-content: center;
        gap: 3em;
        padding: 0;
    }

    .section-redirect {
        visibility: hidden;
        margin: 0;
        width: 0;
        height: 0;
    } 

    main {
        background-color: #FFF;
        margin: 0 auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        margin-top: 10.5em;
    }

    .about-col {
        width: 80%;
        margin: auto;
    }

    .about-right {
        margin-top: 2.5em;
        border-top: 1px dotted #2a2a2a;
    }

    .browse {
        width: 40%;
    }

    .about-left:before {
        visibility: hidden;
    }

    .gallery {
        gap: 1em;
    }

    .container {
        flex-direction: column;
        width: 95%;
        margin-left: auto;
        gap: 0;
    }

    .samples {
        display: flex;
        flex-direction: column;
    }
    
    .samples img {
        margin: 0;
        width: 75%;
        margin: .5em 12.5%;
        height: auto;
    }

    .samples img:hover {
        height: auto;
    }

    .ilus img:hover {
        height: auto;
    }

    .ilus {
        margin: 0;
        align-items: center;
        transition: height .3s;
    }

    .ilus img {
        width: 65%;
        height: auto;
    }

}


/* Phone */
@media (max-width: 800px) {
    header {
        padding: 1em;
        justify-content: center;
    }

    .nav-container {
        margin: 0 auto;
    }

    .nav-container img {
        height: 5em;
    }
    
    .browse {
        margin-top: 1em;
        width: 80%;
    }

    .browse:hover {
        background-color: #D0B172;
    }

    .widget-container {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    section {
        margin: 0 auto;
    }
}