* {
    font-family: 'Helvetica';
    font-size: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
} 

/* Navbar */
header {
    justify-content: center;

    background-color: #FFF;
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    max-width: 1400px;
    margin: 0 auto;
    top: 0px;
}

.nav-container img {
    max-height: 6.5em;
    padding: 0.2em;
}

nav {
    margin: 2em 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #484848;
    text-transform: uppercase;
    font-size: 1.3rem;
    position: relative;
    font-family: 'Kalam';
}

nav a.active {
    font-weight: bold;
}

nav a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid #2a2a2a;
    bottom: 0px;
}

nav a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid #6a6a6a;
    bottom: 0px;
    transition: width .3s;
}   

nav a:hover:before {
    width: 35%;
}

main {
    width: 100%;
    margin:0;
    z-index: 10;
}

.about {
    margin-top: 10em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-col {
    width: 45%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-left {
    border-right: 2px solid #484848;
}

h1 {
    font-size: 2.5rem;
    color: #2a2a2a;
    font-family: 'Kalam';
    display: inline-block;
}

h1.heading {
    border-bottom: 1px solid #2a2a2a;
}

p {
    font-size: 1.3rem;
}

.subhead {
    max-width: 60%;
    margin: 2em auto;
    margin-top: 1em;
}

.about-left img {
    height: 13em;
    margin-left: 1em;
    margin-bottom: 1em;
} 

.browse {
    display: flex;
}

.browse {
    font-size: 1.5rem;
    position: relative;
    margin: 1em auto;
    margin-top: 2em;
    display: block;
    padding: .5em 0;
    align-items: center; 
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
    background-color: #D0B172;
    border-radius: 50px;
    width: 25%;
    transition: background-color .3s;
}

span {
    font-family: 'Kalam';
}

.browse svg {
    width: 2em;
    margin: auto 0;
    transition: transform .3s;
    z-index: 1;
    margin-left: .5em;
}

.browse:hover svg {
    transform: translateX(10px);
}

.browse:hover {
    background-color: #7E885F;
}

.widget {
    width: fit-content;
    margin: auto;
}

.gallery {
    margin-top: 5em;
    gap: 2em;
    text-align: center;
    z-index: 10;
    align-items: center;
}

.heading h1 {
    font-size: 2.5rem;
    color: #2a2a2a;
    font-family: 'Kalam';
    display: inline-block;
    border-bottom: 1px solid #2a2a2a;
}

.container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
}

.ilus {
    text-align: center;
}

.cnps {
    gap: 2em;
    padding: .5em;
}

.chrs {
    text-align: center;
}

.ilus img {
    height: 25em;
    border-radius: 4px;
    margin: 0.5em 1em;
}

.cnps img {
    height: 20em;
    border-radius: 4px;
    margin: 0.5em 1em;
}

.chrs img {
    height: 20em;
    border-radius: 4px;
    margin: 0.5em 1em;
}

.space {
    height: 5em;
}


footer {
    width: 100%;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 1.4rem;
    position: relative;
}

footer a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid #006;
    bottom: -2px;
    transition: width .3s;
}   

footer a:hover:before {
    width: 100%;
}

.author .fa-brands {
    color: #006;
}