* {
    font-family: 'Helvetica';
    font-size: 100%;
}

.wrapper {
    margin: 0 auto;
    background-color: white;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 15%;
    top: 0px;
}

header img {
    max-height: 7.5em;
    padding: 0.2em;
}

nav {
    margin: 2em 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #484848;
    text-transform: uppercase;
    font-size: 1.3rem;
    position: relative;
    font-family: 'Kalam';
}

nav a.active {
    font-weight: bold;
}

nav a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid #2a2a2a;
    bottom: 0px;
}

nav a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid #6a6a6a;
    bottom: 0px;
    transition: width .3s;
}   

nav a:hover:before {
    width: 35%;
}

main {
    width: 80%;
    margin: 4em 10%;
    z-index: 10;
}

.about {
    text-align: center;
    margin-top: 2em;
}

h1 {
    font-size: 2.5rem;
    color: #2a2a2a;
    font-family: 'Kalam';
}

p {
    font-size: 1.2rem;
}

.subhead {
    max-width: 60%;
    margin: 2em 20%;
    margin-top: 1em;
}

.about img {
    height: 12em;
    margin: 1em 1em;
}

.cta {
    position: relative;
    margin: 5% auto;
}

.cta svg {
    height: 5em;
    width: auto;
    transition: transform .3s;
}

.cta svg:hover {
    transform: translateY(10px);
}

.gallery {
    margin-top: 5em;
    gap: 2em;
    grid-template-columns: 2;
    text-align: center;
    z-index: 10;
}

.heading h1 {
    font-size: 2.5rem;
    color: #2a2a2a;
    font-family: 'Kalam';
}

.container {
    display: flex;
    flex-direction: row;
    align-items: topleft;
    width: 70%;
    align-self: center;
}

.ilus {
    text-align: center;
}

.cnps {
    text-align: center;
    gap: 2em;
    padding: .5em;
}

.chrs {
    text-align: center;
}

.ilus img {
    height: 20em;
    border-radius: 5px;
}

.cnps img {
    height: 20em;
    border-radius: 5px;
}

.chrs img {
    height: 20em;
    border-radius: 5px;
}

.space {
    height: 5em;
}

/* 
https://www.youtube.com/watch?v=6qko7Nbe8YA */
/* 
footer {
    background-color: #484848;
    max-height: 8em;
    display: flex;
    position: absolute;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2rem;
    color: white;
}

footer svg {
    max-height: 1.2rem;
}

.author {
    width: 80%
} */